@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root {
  --background: var(--primary);
  --primary: #2d3538;
  --secondary: #9c988d;
  --text: #d9d9d9;
  --borderRadius: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);

  font-family: "JetBrains Mono", monospace;
}
.container {
  background-image: url("/img/bg.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main {
  height: 100vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  backdrop-filter: blur(60px);
}

.content {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content h1 {
  font-weight: 400;
  font-size: 90px;
  line-height: 119px;
  letter-spacing: 0.05em;
}

.content h3 {
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 0.01em;
}

.content p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;

  color: #a2a2a2;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  position: relative;
}

input {
  width: 360px;
  height: 70px;
  background: none;
  outline: none;
  border: 3px solid var(--text);
  border-radius: var(--borderRadius);
  margin-bottom: 20px;
  padding-left: 48px;
}
input:focus {
  border: 3px solid var(--secondary);
  scale: 1.03;
}
#username {
  background: url("/icons/user.svg") no-repeat left;
  background-size: 20px;
  background-position: 20px;
  color: var(--text);
  transition: all 0.3s ease;
}
#password {
  background: url("/icons/lock.svg") no-repeat left;
  background-size: 20px;
  background-position: 20px;
  color: var(--text);
  transition: all 0.3s ease;
}
#username:hover,
#password:hover {
  border: 3px solid var(--secondary);
  scale: 1.03;
}
.rememberBox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-self: flex-start;
}

.rememberBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: none;
  border: 1px solid var(--text);
  border-radius: calc(var(--borderRadius) / 2);
}
.rememberBox input:checked ~ .checkmark {
  background-color: none !important;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.rememberBox input:checked ~ .checkmark:after {
  display: block;
}
.rememberBox .checkmark:after {
  width: 100%;
  height: 100%;
  background: var(--secondary);
  border: none;
}
.rememberBox p {
  font-size: 12px;
}

button {
  width: 360px;
  height: 70px;
  background: var(--secondary);
  outline: none;
  border: none;
  border-radius: var(--borderRadius);
  font-size: 34px;
  color: var(--primary);
  margin-top: 20px;
  transition: all 0.3s ease;
}

button:hover {
  scale: 1.03;
  cursor: pointer;
}
